/autom4te.cache/
/build-aux/
/m4/libtool.m4
/m4/lt*.m4
/aclocal.m4
/ar-lib
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/stamp-h1
/test-driver

/Makefile
/Makefile.in
/src/Makefile
/src/Makefile.in
/tests/Makefile
/tests/Makefile.in

/.deps/
/.libs/
/src/.deps/
/src/.libs/
/tests/.deps/
/tests/.libs/
/tests/*.log
/tests/*.trs

*.o
*.lo
*.la
*.lai
*.tar.*
.dirstamp

/src/roshydb
/tests/roshydb_tests
/roshydb-*/
/result
